.navbar-container {
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar-container p {
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(241, 241, 241);
}